.presentation {
    text-align: left;
    margin-top: 90px;
    margin-left: 50px;
}

.text {
    width: 40%;
    margin-top: 25px;
    margin-left: 30px;
}

.btn {
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border: none;
    color: white;
    margin-top: 35px;
    width: 130px;
    height: 43px;
    border-radius: 80px;
}