* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins), url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}