.btn {
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    border: none;
    color: white;
    margin-top: 35px;
    width: 130px;
    height: 43px;
    border-radius: 80px;
}
