@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



#header {
    background-color: rgba(3, 154, 255, 0.514);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi';
    
}

h1, h2, h3{
    text-transform: uppercase;
}

#nameAndTitle {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
   
}

nameAndTitle h1, h1 {
    margin: 0;
}

#contact {
    list-style-type: none;
}

#contact i {
    width: 30px;
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3 {
    font-family: 'Hubballi';
}

.card {
    font-family: 'Montserrat';
    font-weight: bold;
    border: 1px solid rgba(3, 154, 255, 0.514);
    border-radius: 15px;
}