.main {
    width: 65%;
    margin-bottom: 100px;
}

.main h1 {
    font-size: 35px;
    text-align: left;
    margin-left: 5%;
}

.main p {
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    line-height: 30px;
}

.main button {
    margin-left: 70px;
    width: 150px;
}