* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

#cabecalho {
    background-color: #303030;
    height: 300px;
}

#titulo-cabecalho {
    color: white;
    padding: 100px;
}

#texto-cabecalho {
    color: yellow;
    padding: -100px;
}
