* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

#cabecalho {
    background-color: #303030;
    height: 300px;
}

#titulo-cabecalho {
    color: white;
    padding: 100px 25px;
}

#texto-cabecalho {
    color: white;
    padding-bottom: 100px;
}