* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}


#titulo-cabecalho {
    margin-left: 20px;
    margin-top: 70px;
    color: black;
    
}

#texto-cabecalho {
    margin-left: 50px;
}

