@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

#navBar {
    background-color: #0C70F2;
    font-family: Inter;
    color: white;
    width: 1349px;
    height: 103px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titlePage {
    margin: auto;
    margin-left: 55px;
}


body {
    background: #F2F2F2;
}

.tituloPrincipal {
    font-family: Inter;
    font-size: 10px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin: auto;
    
}

#title1 {
    padding-top: 70px;
    padding-left: 170px;
}

.imagem {
    width: 200px;
    height: 250px;
}

.container {
    font-family: Inter;
    background: #FFFFFF;
    margin: auto;
}
