@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #0C70F2;
    font-family: Inter;
    color: white;
    width: 1349px;
    height: 103px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.pNavBar {
    font-family: Inter;
    color: white;
    margin: auto;
}

#navBarP {
    padding-left: 600px;
}

#titlePage {
    margin: auto;
    margin-left: 55px;
}

.tituloPrincipal {
    font-family: Inter;
    font-size: 10px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin: auto;
    
}

#title1 {
    padding-top: 70px;
    padding-left: 170px;
}

.imagem {
    width: 200px;
    height: 250px;
}

.conteudoPrincipal {
    background-color: #BABABA;
}
