* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(255, 217, 0, 1);
    height: 120;
}

header > img {
    margin: 20px 20px 20px 40px;
}

main {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#textoInformativo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(81, 73, 136, 1);
}

#textoInformativo > h1 {
    color: rgba(243, 198, 31, 1);
    margin: 20px;
    font-size: 50px;
}

#textoInformativo > h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 15px;
}

#textoInformativo > p {
    font-size: 22px;
    line-height: 35px;
    margin: 20px;
}

#texto-contador > h3 {
    text-align: center;
    color: rgba(227, 56, 129, 1);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contador {
    margin-top: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(81, 73, 136, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-contador {
    font-weight: 700;
    font-size: 35px;
}

video {
    margin: 7px;
}

footer{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.cards > h3 {
    color: rgba(243, 198, 31, 1);
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    
}

#semana > img {
    width: 190px;
}

#botao > button {
    margin-top: 90px;
    margin-right: 70px;
    background-color: rgba(81, 73, 136, 1);
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 90px;
    color: rgba(255, 255, 255, 1);
}

button:hover {
    cursor: pointer;
}

#botao > button:hover {
    color: rgba(243, 198, 31, 1);
}

.card-highlight {
    box-shadow: 10px 10px grey;
}

.card-selected {
    border: 5px solid green;
}